<div class="card" style="width: 18rem;">
    <div class="card-header">
      Lista de tareas
    </div>
    <ul class="list-group list-group-flush">
        @for(item of taks;  track $index){
            <li class="list-group-item">
                <p>
                    {{item.taks}}
                </p>
                <small>{{item.date | date}}</small>
                <button type="button" (click)="delete($index)" class="btn btn-dark">Eliminar</button>
                <button type="button" (click)="update(item)" class="btn btn-dark">Editar</button>
            </li>
        }
    </ul>
  </div>
